@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an API integration and presentation project in ASP.NET CORE 5 and SOA(Service Oriented Architecture). The API provides a simple, lightweight and portable JSON API with live exchange rates. To show API results, <a href="/Home/Currency">click.</a>.</p>
</div>
